<div id="display_box">
  <div class="container" id="active_recurring_todos_container">
    <h2><%= t('todos.recurring_todos') %></h2>
    <div id="recurring_todos_container">
      <div id="recurring-todos-empty-nd" style="<%= @no_recurring_todos ? 'display:block' : 'display:none'%>">
        <div class="message"><p><%= t('todos.no_recurring_todos') %></p></div>
      </div>
      <%= render :partial => @recurring_todos %>
    </div>
  </div>

  <div class="container" id="completed_recurring_todos_container">
    <div class="link_in_container_header"><%= link_to t('common.show_all'), done_recurring_todos_path%></div>
    <h2><%= t('common.last') %> <%= t('todos.completed_recurring') %></h2>
    <div id="completed_recurring_todos_container">
      <div id="completed-empty-nd" style="<%= @no_completed_recurring_todos ? 'display:block' : 'display:none'%>">
        <div class="message"><p><%= t('todos.no_completed_recurring') %></p></div>
      </div>
      <%= render :partial => @completed_recurring_todos %>
    </div>
  </div>
</div>
<div id="input_box">
  <div id="recurring_new_container">
    <a href='#' id="add-new-recurring-todo"><%= image_tag("add.png", {:alt => "[ADD]"})-%><%= t('todos.add_new_recurring') %></a>
  </div>
</div>

<div id="new-recurring-todo" class="new-form" title="<%= t('todos.add_new_recurring') %>">
  <%= render :partial => "recurring_todo_form" %>
</div>
<div id="edit-recurring-todo" class="edit-form" style="display:none" title="<%= t('todos.edit_recurring_todo') %>">
  <div class='placeholder'>This should not be visible</div>
</div>