<div id="display_box">

  <%= todos_calendar_container(:due_today,            @calendar.due_today           ) %>
  <%= todos_calendar_container(:due_this_week,        @calendar.due_this_week       ) %>
  <%= todos_calendar_container(:due_next_week,        @calendar.due_next_week       ) %>
  <%= todos_calendar_container(:due_this_month,       @calendar.due_this_month      ) %>
  <%= todos_calendar_container(:due_after_this_month, @calendar.due_after_this_month) %>

</div><!-- End of display_box -->
<div class="input_box" id="input_box">
  <p><%= link_to('<span class="feed">iCal</span>'.html_safe, {:format => 'ics', :token => current_user.token}, :title => "iCal feed" ) %>
  - <%= t('todos.calendar.get_in_ical_format') %></p>
</div>
