<div id="sidebar">
  <% # show active items before hidden / completed items -%>

  <%= render :partial => "sidebar/project_list",
    :locals => { :list_name => 'Active Projects',
    :projects => @active_projects } -%>

  <%= render :partial => "sidebar/context_list",
    :locals => { :list_name => 'Active Contexts',
    :contexts => @active_contexts } -%>

  <% if prefs.show_hidden_projects_in_sidebar -%>
    <%= render :partial => "sidebar/project_list",
      :locals => { :list_name => 'Hidden Projects',
      :projects => @hidden_projects } -%>
  <% end -%>

  <% if prefs.show_completed_projects_in_sidebar -%>
    <%= render :partial => "sidebar/project_list",
      :locals => { :list_name => 'Completed Projects',
      :projects => @completed_projects } -%>
  <% end -%>

  <% if prefs.show_hidden_contexts_in_sidebar -%>
    <%= render :partial => "sidebar/context_list",
      :locals => { :list_name => 'Hidden Contexts',
      :contexts => @hidden_contexts } -%>
  <% end -%>

</div>