<div id="single_box" class="container context">
	
  <h2><%= @page_title %></h2>

  <%= error_messages_for 'user' %>

  <p>Enter your new password in the fields below and click 'Change Password' to replace your current password with your new one.</p>

  <% form_tag :action => 'update_password' do %>
    <table width="440px">
      <tr>
        <td><label for="updateuser_password">New password:</label></td>
        <td><%= password_field "updateuser", "password", :size => 40 %></td>
      </tr>
      <tr>
        <td><label for="updateuser_password_confirmation">Confirm password:</label></td>
        <td><%= password_field "updateuser", "password_confirmation", :size => 40 %></td>
      </tr>
      <tr>
        <td><%= link_to 'Cancel', preferences_path %></td>
        <td><%= submit_tag 'Change password' %></td>
      </tr>
    </table>
  <% end %>

</div>