<div id="single_box" class="container context">
	
  <h2><%= @page_title %></h2>

  <%= error_messages_for 'user' %>

  <p><%= t('users.change_password_prompt') %></p>

  <% form_tag :action => 'update_password' do %>
    <table width="440px">
      <tr>
        <td><label for="updateuser_password"><%= t('users.new_password_label') %>:</label></td>
        <td><%= password_field "updateuser", "password", :size => 40 %></td>
      </tr>
      <tr>
        <td><label for="updateuser_password_confirmation"><%= t('users.password_confirmation_label') %>:</label></td>
        <td><%= password_field "updateuser", "password_confirmation", :size => 40 %></td>
      </tr>
      <tr>
        <td><%= link_to t('common.cancel'), preferences_path %></td>
        <td><%= submit_tag t('users.change_password_submit') %></td>
      </tr>
    </table>
  <% end %>

</div>