<div id="single_box" class="container context">

  <h2><%= @page_title %></h2>

  <%= get_list_of_error_messages_for @user %>

  <p><%= t('users.change_password_prompt') %></p>

  <%= form_tag :action => 'update_password' do %>
    <%= render :partial => 'update_password' %>
    <br/>
    <%= link_to t('common.cancel'), preferences_path %>
    <%= submit_tag t('users.change_password_submit') %>
  <% end %>

</div>