<div class="bootstrap">
  <div class="footer">
    <%= t('footer.send_feedback', :version => TRACKS_VERSION) %>
    <span class="footer-line">
      <a href="https://github.com/TracksApp/tracks/issues"><%= t('common.bugs')%></a> |
      <a href="https://github.com/TracksApp/tracks/wiki"><%= t('common.wiki')%></a> |
      <a href="https://groups.google.com/group/TracksApp"><%= t('common.mailing_list')%></a> |
      <a href="https://www.getontracks.org/"><%= t('common.website')%></a> |
      <a href="https://www.getontracks.org/contribute/"><%= t('common.contribute')%></a> |
      <%= link_to(t('layouts.navigation.mobile'), todos_path(:format => 'm')) %>
    </span>
  </div>
</div>
