<div class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span id="badge_count" class="badge_count"><%= @badge_count || @count %></span></a>
    </div><%# //.navbar-header %>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= menu_item("home",     root_path)           %></li>
        <li><%= menu_item("starred",  tag_path("starred")) %></li>
        <li><%= menu_item("projects", projects_path)       %></li>
        <li><%= menu_item("tickler",  tickler_path)        %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('layouts.navigation.organize') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= menu_item("contexts",        contexts_path)        %></li>
            <li><%= menu_item("notes",           notes_path)           %></li>
            <li><%= menu_item("review",          review_path)          %></li>
            <li><%= menu_item("recurring_todos", recurring_todos_path) %></li>
          </ul>
        </li>
        <li class="dropdown" id="menu_view">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu_view_link"><%= t('layouts.navigation.view') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= menu_item("calendar",        calendar_path)      %></li>
            <li><%= menu_item("completed_tasks", done_overview_path) %></li>
            <li><%= menu_item("feeds",           feeds_path)         %></li>
            <li><%= menu_item("stats",           stats_path)         %></li>
            <li class="divider"></li>
            <li><%= menu_item("toggle_contexts", "#", {:id => "toggle-contexts-nav"}) %></li>
            <li><%= menu_item("toggle_notes",    "#", {:id => "toggle-notes-nav"}) %></li>
            <li><%= group_view_by_menu_entry %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('layouts.navigation.admin') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= menu_item("preferences",    preferences_path) %></li>
            <li><%= menu_item("export",         data_path)        %></li>
            <% if current_user.is_admin? -%>
              <li><%= menu_item("manage_users", users_path)       %></li>
            <% end -%>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('layouts.navigation.help') %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= menu_item("keyboard_shortcuts", "#",{:id => "menu-keyboard-shotcuts"}) %></li>
            <li><%= menu_item("integrations",       integrations_path)                     %></li>
            <li><%= menu_item("api_docs",           rest_api_docs_path)                    %></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="form">
        <button class="btn btn-primary btn-sm button-add-todo" title="Add a new action"><i class="fa fa-plus fa-lg"></i></button>
        <button class="btn btn-primary btn-sm button-goto" title="Go to..."><i class="fa fa-share fa-lg"></i></button>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default"type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
        <%= link_to("<i class='fa fa-sign-out'></i>".html_safe, logout_path, title: "#{t('common.logout')} (#{current_user.display_name})") %>
      </form>
    </div><%# //.navbar-collapse %>
  </div><%# //.container %>
</div><%# //.navbar %>
