<% project = project_settings -%>
<div id="<%= dom_id(project) %>" class="project">
  <div class="project_settings"><%= t('projects.this_project') %>
    <% if project.completed? -%><%= t('projects.was_marked_complete') %>
    <% elsif project.hidden? -%><%= t('projects.was_marked_hidden') %>
    <% else -%><%= t('projects.is_active') %>
    <% end -%>
    <% if project.default_context.nil? -%>
      <%= t('projects.with_no_default_context') %>
    <% else -%>
      <%= t('projects.with_default_context', :context_name => project.default_context.name) %>
    <% end -%>
    <% if project.default_tags.nil? || project.default_tags.blank? -%>
      <%= t('projects.with_no_default_tags') %>.
    <% else -%>
      <%= t('projects.with_default_tags', :tags => project.default_tags) %>.
    <% end -%>
    <%= link_to_edit_project(project, t('projects.edit_project_settings')) %>
  </div>
  <% if project.description.present? -%>
    <div class="project_description"><%= Tracks::Utils.render_text(project.description) %></div>
  <% end -%>
</div>
<div id="<%= dom_id(project, 'edit') %>" class="edit-form" style="display:none;">
   <div class="placeholder"> </div>
</div>
