<div id="display_box">
  <div id="projects-empty-nd" style="<%= @no_projects ? 'display:block' : 'display:none'%>">
    <div class="message"><p><%= t('projects.no_projects') %></p></div>
  </div>
  <%= render :partial => 'project_state_group', :object => @active_projects, :locals => { :state => 'active'} %>
  <%= render :partial => 'project_state_group', :object => @hidden_projects, :locals => { :state => 'hidden'} %>
  <%= render :partial => 'project_state_group', :object => @completed_projects, :locals => { :state => 'completed', :total_count => @completed_count} %>
</div>

<div id="input_box">
  <div id="project_new_project_filler">
    <%= render :partial => 'new_project_form' %>
  </div>
</div>
