<div id="display_box">
  <div id="project-next-prev">
    <%= project_next_prev %>
  </div>

  <%= render :partial => @project, :locals => {:collapsible => false } %>
  <%= render :partial => "todos/deferred", :object => @deferred, :locals => { :collapsible => false, :append_descriptor => t('projects.todos_append'), :parent_container_type => 'project', :pending => @pending } %>
  <% unless @max_completed==0 -%>
    <%= render :partial => "todos/completed", :object => @done, :locals => { :collapsible => false, :suppress_project => true, :append_descriptor => t('projects.todos_append') } %>
  <% end -%>

  <div class="container">
    <div id="notes">
      <div class="add_note_link"><%= link_to t('projects.add_note'), '#' %> </div>
      <h2><%= t('projects.notes') %></h2>
      <div id="empty-n" style="display:<%= @project.notes.empty? ? 'block' : 'none'%>;">
        <div class="message"><p><%= t('projects.no_notes_attached') %></p></div>
      </div>
      <%= render :partial => "notes/notes_summary", :collection => @project.notes %>
    </div>
  </div>

  <div id="new-note" style="display:none;">
    <%= render :partial => "notes/note_edit_form", :object => @new_note, :locals => {:submit_text => t('projects.add_note_submit')} %>
  </div>

</div>

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar" %>
</div><!-- End of input box -->
