<div id="display_box">
  <div id="project-next-prev">
    <%= project_next_prev %>
  </div>

  <%= render :partial => "projects/project", :locals => { :project => @project, :collapsible => false } %>
  <%= render :partial => "todos/deferred", :locals => { :deferred => @deferred, :collapsible => false, :append_descriptor => "in this project" } %>
  <% unless @max_completed==0 -%>
    <%= render :partial => "todos/completed", :locals => { :done => @done, :collapsible => false, :suppress_project => true, :append_descriptor => "in this project" } %>
  <% end -%>

  <div class="container">
    <div id="notes">
      <div class="add_note_link"><%= link_to_function( "Add a note", "Element.toggle('new-note'); Form.focusFirstElement('form-new-note');", :id=>"add_note_href") %></div>
      <h2>Notes</h2>
      <div id="empty-n" style="display:<%= @project.notes.empty? ? 'block' : 'none'%>;">
        <%= render :partial => "shared/empty",
          :locals => { :message => "Currently there are no notes attached to this project"} %>
      </div>
      <%= render :partial => "notes/notes_summary", :collection => @project.notes %>
    </div>
  </div>

  <div id="new-note" style="display:none;">
    <% form_remote_tag :url => notes_path,
      :method => :post,
      :update => "notes",
      :position => "bottom",
      :complete => "new Effect.Highlight('notes');$('empty-n').hide();Form.reset('form-new-note');",
      :html => {:id=>'form-new-note', :class => 'inline-form'} do %>
      <%= hidden_field( "new_note", "project_id", "value" => "#{@project.id}" ) %>
      <%= text_area( "new_note", "body", "cols" => 50, "rows" => 3, "tabindex" => 1 ) %>
      <br /><br />
      <input type="submit" value="Add note" name="add-new-note" tabindex="2" />
    <% end -%>
  </div>
</div>

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar.html.erb" %>
</div><!-- End of input box -->