<div class="bootstrap">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div id="edit_error_status">
        <%= get_list_of_error_messages_for(@user)%>
        <%= get_list_of_error_messages_for(@prefs)%>
      </div>

      <%= form_for(@prefs) do %>
        <ul id="tabs" class="nav nav-tabs">
          <li role="presentation" class="active">
            <%= link_to t('preferences.tabs.profile'), "#profile", data: { toggle: "tab" } %>
          </li>
          <li role="presentation">
            <%= link_to t('preferences.tabs.authentication'), "#authentication", data: { toggle: "tab" } %>
          </li>
          <li role="presentation">
            <%= link_to t('preferences.tabs.date_and_time'), "#date_and_time", data: { toggle: "tab" } %>
          </li>
          <li role="presentation">
            <%= link_to t('preferences.tabs.tracks_behavior'), "#behavior", data: { toggle: "tab" } %>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="profile"><%= render :partial => 'profile'%></div>
          <div role="tabpanel" class="tab-pane" id="authentication"><%= render :partial => 'authentication'%></div>
          <div role="tabpanel" class="tab-pane" id="date_and_time"><%= render :partial => 'date_and_time'%></div>
          <div role="tabpanel" class="tab-pane" id="behavior"><%= render :partial => 'tracks_behavior'%></div>
        </div>

        <button type="submit" id="prefs_submit" class="btn btn-default"><%= t('common.update') %></button>

      <% end %>
    </div>
  </div>
</div>
</div>
