<div class="list-stategroup-contexts-container" id="list-<%= state %>-contexts-container">
  <h2>
    <span id="<%= state %>-contexts-count" class="badge"><%= context_state_group.length %></span>
    <%= t("states.contexts."+ state) %>
  </h2>

  <div id="<%= state%>-contexts-empty-nd" style="<%= no_contexts ? 'display:block' : 'display:none'%>">
    <div class="message"><p><%= t('contexts.no_contexts_' + state) %></p></div>
  </div>

  <div id="list-contexts-<%= state %>">
    <%= render :partial => 'context_listing', :collection => context_state_group %>
  </div>
</div>
