<h1><%= model_name %> List</h1>
<table>
  <%%- if @<%= plural_name %>.empty? -%>
  <tbody>
    <tr class="empty">
      <td>There are no <%= plural_name.humanize.downcase %></td>
    </tr>
  </tbody>
  <%%- else -%>
  <thead>
    <tr>
    <%- if attributes.blank? -%>
      <th><!-- Generic display column --></th>
    <%- else -%>
      <%- attributes.each do |attribute| -%>
      <th><%= attribute.name.titleize %></th>
      <%- end -%>
    <%- end -%>
      <th class="show"><!-- "Show" link column --></th>
      <th class="edit"><!-- "Edit" link column --></th>
      <th class="delete"><!-- "Delete" link column --></th>
    </tr>
  </thead>
  <tbody>
    <%%= render :partial => @<%= plural_name %> %>
  </tbody>
  <%%- end -%>
</table>
<div id="commands">
  <%%= button_to "New <%= singular_name.titleize %>", new_<%= singular_name %>_path, :method => "get" %>
</div>