<div class="container-fluid">
  <div class="row">
    <div class="login-flash">
      <%= bootstrap_flash :close_button => false %>
    </div>
  </div>
  <div class="login-wrapper">
    <div class="login-box">
      <div class="icon-box">
        <div class="tracks-icon"><div class="tracks-icon-text">10</div>
      </div>
      <div title="<%= t('login.account_login') %>" id="loginform" class="login-form">
        <h3><%= t('login.please_login') %>:</h3>
        <%= form_tag login_path do %>
          <div class="label-element-combo">
            <%= label_tag "user_login", User.human_attribute_name('login') %>
            <%= text_field_tag "user_login", nil, class: "form-control" %>
          </div>
          <div class="label-element-combo">
            <%= label_tag "user_password", User.human_attribute_name("password") %>
            <%= password_field_tag "user_password", nil, class: "form-control" %>
          </div>
          <div class="label-element-combo">
            <div class="checkbox">
              <label for="user_expiry">
                <input name="user_expiry" type="checkbox" checked><%= t("login.user_no_expiry") %></input>
              </label>
            </div>
          </div>
          <%= submit_tag t("login.sign_in"), class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer">
    <%= render :partial => "shared/footer" %>
  </div>
</div>
