<h1><%= t('help.title') %></h1>

<p><%= raw t('help.usage', :manual_link => '<a href="https://github.com/TracksApp/tracks/wiki/User-manual">' + t('help.manual_link_text') + '</a>') %></p>

<p><%= raw t('help.bugs', :issue_link => '<a href="https://github.com/TracksApp/tracks/issues">' + t('help.issue_link_text') + '</a>') %></p>

<p><%= raw t('help.contribute', :contribute_link => '<a href="https://www.getontracks.org/contribute/">' + t('help.contribute_link_text') + '</a>') %></p>

<ul>
  <li><a href="http://groups.google.com/group/TracksApp"><%= t('help.mailing_list_link_text') %></a></li>
  <li><%= raw t('help.irc_bullet', :irc_link => '<a href="https://web.libera.chat/#Tracks">' + t('help.irc_link_text') + '</a>', :matrix_link => '<a href="https://matrix.to/#/#tracks:matrix.org">' + t('help.matrix_link_text') + '</a>') %></li>
</ul>
