<h1>Integration</h1>
<p>Tracks kann mit verschiedenen Werkzeugen zusammenarbeiten...
  was immer Sie brauchen, um Ihre Aufgaben zu erledigen!
  Auf dieser Seite finden Sie Informationen, um einige dieser Werkzeuge einzurichten.
  Diese Beispiele sind nicht unbedingt auf Ihre Umgebung anwendbar oder bed&uuml;rfen mehr
  technisches Wissen als andere.
  Weitere Informationen finden Sie in der <%= link_to "Entwickler Documentation der Tracks' REST API", url_for(:action => 'api_docs') %> (englisch).</p>
<br/><p>Inhalt:</p>
<ul>
  <li><a href="#applescript1-section">Eine Aktion mit Applescript hinzuf&uuml;gen</a></li>
  <li><a href="#applescript2-section">Eine Aktion anhand der aktuell in Mail.app selektierten Nachricht erstellen</a></li>
  <li><a href="#quicksilver-applescript-section">Aktionen mit Quicksilver und Applescript erstellen</a></li>
  <li><a href="#email-cron-section">Anstehende Aufgaben automatisch sich via E-Mail zusenden lassen</a></li>
  <li><a href="#message-gateway-section">Tracks mit einem Mail-Server integrieren, um Aufgaben via E-Mail zu erstellen</a></li>
  <li><a href="#mailgun-section">Send emails to Tracks with Mailgun</a>
  <li><a href="#rich-message-section">Rich Todo Message email format</a>
  <li><a href="#google-gadget-section">Tracks zu Ihrer Google Gmail Seite hinzuf&uuml;gen</a></li>
</ul>

<%= render "integrations/applescript/docs" %>

<h2 id="email-cron-section">Automatically Email Yourself Upcoming Actions</h2>

<p>If you enter the following entry to your crontab, you will receive email every day around 5 AM with a list of the upcoming actions which are due within the next 7 days.</p>

<textarea id="cron" name="cron">0 5 * * * /usr/bin/curl -0 "<%= root_url %>todos.txt?due=6&token=<%= current_user.token %>" | /usr/bin/mail -e -s 'Tracks actions due in the next 7 days' youremail@yourdomain.com</textarea>

<p>You can of course use other text <%= link_to 'feeds provided by Tracks', feeds_path %> -- why not email a list of next actions in a particular project to a group of colleagues who are working on the project?</p>

<h2 id="message-gateway-section">Integrated email/SMS receiver</h2>
<p>
  If Tracks is running on the same server as your mail server, you can use the integrated mail handler built into tracks. Steps to set it up:
</p>
<ul>
  <li>Go to <%= link_to t('layouts.navigation.preferences'), preferences_url %> and
    set your "<%= Preference.human_attribute_name('sms_email') %>" and
    "<%= Preference.human_attribute_name('sms_context') %>" for todos sent in
    via email (which could come from an SMS message)</li>
  <li>In sendmail/qmail/postfix/whatever, set up an email address
    alias to pipe messages to <pre>/usr/bin/bundle exec /PATH/TO/TRACKS/script/rails r -e production 'MessageGateway.receive(STDIN.read)'</pre></li>
  <li>Send an email to your newly configured address!</li>
</ul>
<p>You can also use the Rich Todo API to send in tasks like "do laundry @ Home"
  or "Call Bill > project X". The subject of the message will fill description,
  context, and project, while the body will populate the tasks's note.
</p>
<p>
  You may need to configure your <tt>site.yml</tt> to tell the message gateway to look at the <tt>to:</tt> field or <tt>from:</tt> field to
  lookup Tracks' user from the email address in that field. </p>
  <p>You can also send all email to a specific Tracks user. Configure mail_dispatch in site.yml to <tt>single_user</tt> and pass the login of the user:
    <pre>TRACKS_MAIL_RECEIVER=<%=current_user.login%> usr/bin/bundle exec /PATH/TO/TRACKS/script/rails r -e production 'MessageGateway.receive(STDIN.read)'</pre>
</p>

<%= render "integrations/mailgun/docs" %>

<h2 id="rich-message-section">Rich Todo Message Format</h2>
<p> For both of the above methods, the follow format can be used:</p>
<pre>my awesome todo @context ~project &lt;131012 &gt;131009 #tag1 #tag2 *</pre>
<p>The fields are:</p>
<table>
  <tr>
    <th>Symbol</th><th>Meaning</th>
  </tr>
  <tr>
    <td>@</td><td>The context to place the Todo in</td>
  </tr>
  <tr>
    <td>~</td><td>The project to place the Todo in</td>
  </tr>
  <tr>
    <td>&lt;</td><td>The due date for the Todo (may be 2 digits for day, 4 digits for month-day, or 6 digits for yeah-month-day)</td>
  </tr>
  <tr>
    <td>&gt;</td><td>The show date for the Todo (may be 2 digits for day, 4 digits for month-day, or 6 digits for yeah-month-day)</td>
  </tr>
  <tr>
    <td>#</td><td>A tag to apply to the Todo - may be used multiple times</td>
  </tr>
  <tr>
    <td>*</td><td>Flag to star the Todo</td>
  </tr>
</table>
<p>All symbols are optional, and text up to the first symbol (or end of string) is used as the description of the todo</p>

<%= render "integrations/google_gadget/docs" %>
