<h1>Integratie</h1>
<p>Tracks kan met een aantal tools worden geïntegreerd...
  Alles om je te helpen om dingen gedaan te krijgen!
  Deze pagina heeft informatie over het tot stand brengen van sommige integratievormen.
  Deze voorbeelden zijn niet altijd voor alle platformen van toepassing en
  sommige voorbeelden vragen meer technische kennis dan anderen
  Zie ook <%= link_to "de documentatie voor ontwikkelaars met Tracks' REST API", url_for(:action => 'api_docs') %>.</p>
<br/><p>Inhoud:</p>
<ul>
  <li><a href="#applescript1-section">Voeg een actie toe met Applescript</a></li>
  <li><a href="#applescript2-section">Voeg een acties toe met Applescript op basis van de huidig geselecteerde e-mail in Mail.app</a></li>
  <li><a href="#quicksilver-applescript-section">Voeg acties toe met Quicksilver en Applescript</a></li>
  <li><a href="#email-cron-section">Email jezelf automatisch de acties met een aflopende deadline</a></li>
  <li><a href="#message-gateway-section">Integreer Tracks met een email server om een actie via email naar Tracks te sturen</a></li>
  <li><a href="#mailgun-section">Send emails to Tracks with Mailgun</a>
  <li><a href="#rich-message-section">Rich Todo Message email format</a>
  <li><a href="#google-gadget-section">Voeg tracks toe als een Google Gmail gadget</a></li>
</ul>

<%= render "integrations/applescript/docs" %>

<h2 id="email-cron-section">Email jezelf automatisch de acties met een aflopende deadline</h2>

<p>Als je de volgende regel toevoegd aan jouw crontab, dat ontvang je een e-mail op elke dag rond 05:00 met een lijst met acties waarvan de deadline afloopt binnen de komende 7 dagen.</p>

<textarea id="cron" name="cron">0 5 * * * /usr/bin/curl -0 "<%= root_url %>todos.txt?due=6&token=<%= current_user.token %>" | /usr/bin/mail -e -s 'Tracks actions due in the next 7 days' youremail@yourdomain.com</textarea>

<p>Uiteraard kan je ook een andere <%= link_to 'text feed gebruiken die Tracks biedt', feeds_path %> -- bijvoorbeeld een email met een lijst van acties voor een specifiek project naar een groep collega's die werken aan dat project?</p>

<h2 id="message-gateway-section">Integreer Tracks met een email server om een actie via email naar Tracks te sturen</h2>
<p>
  Als Tracks draait op dezelfde server als jouw mailserver, dan kan je de geïntegreerde mail handler gebruiken van Tracks. Om dit in te stellen:
</p>
<ul>
  <li>Ga naar <%= link_to t('layouts.navigation.preferences'), preferences_url %>
    en stel in "<%= Preference.human_attribute_name('sms_email') %>" en
    "<%= Preference.human_attribute_name('sms_context') %>" voor acties die
    verzonden zijn via email (die bijv. komen via een SMS message)</li>
  <li>In sendmail/qmail/postfix/whatever, stel een email address
    alias in om berichten door te sturen naar
    <pre>/usr/bin/bundle exec /PATH/TO/TRACKS/script/rails r -e production 'MessageGateway.receive(STDIN.read)'</pre></li>
  <li>Verstuur een email naar het net geconfigureerde e-mail adres!</li>
</ul>
<p>Je kan ook de Rich Todo API gebruiken om acties te maken zoals "do laundry @ Home"
  of "Call Bill > project X". Het onderwerp van het bericht zal de bijschrijving van de actie vullen,
  de context, en het project, terwijl de body van het bericht de notities van de actie zal vullen.
</p>
<p>
  Het kan nodig zijn om jouw <tt>site.yml</tt> te configureren om de message gateway te laten kijken naar het <tt>to:</tt> veld of het <tt>from:</tt> veld om
  de Tracks-gebruiker op te zoeken met het emailadres uit dat veld. </p>
  <p>Je kan ook alle email naar een specifieke Tracks gebruiker sturen. Stel mail_dispatch in site.yml in op <tt>single_user</tt> en geeft de login van de gebruiker door:
    <pre>TRACKS_MAIL_RECEIVER=<%=current_user.login%> usr/bin/bundle exec /PATH/TO/TRACKS/script/rails r -e production 'MessageGateway.receive(STDIN.read)'</pre>
</p>

<%= render "integrations/mailgun/docs" %>

<h2 id="rich-message-section">Rich Todo Message Format</h2>
<p> For both of the above methods, the follow format can be used:</p>
<pre>my awesome todo @context ~project &lt;131012 &gt;131009 #tag1 #tag2 *</pre>
<p>The fields are:</p>
<table>
  <tr>
    <th>Symbol</th><th>Meaning</th>
  </tr>
  <tr>
    <td>@</td><td>The context to place the Todo in</td>
  </tr>
  <tr>
    <td>~</td><td>The project to place the Todo in</td>
  </tr>
  <tr>
    <td>&lt;</td><td>The due date for the Todo (may be 2 digits for day, 4 digits for month-day, or 6 digits for yeah-month-day)</td>
  </tr>
  <tr>
    <td>&gt;</td><td>The show date for the Todo (may be 2 digits for day, 4 digits for month-day, or 6 digits for yeah-month-day)</td>
  </tr>
  <tr>
    <td>#</td><td>A tag to apply to the Todo - may be used multiple times</td>
  </tr>
  <tr>
    <td>*</td><td>Flag to star the Todo</td>
  </tr>
</table>
<p>All symbols are optional, and text up to the first symbol (or end of string) is used as the description of the todo</p>

<%= render "integrations/google_gadget/docs" %>
