<% has_contexts = !current_user.contexts.empty? -%>
<h1>Integratie</h1>
<p>Tracks kan met een aantal tools worden geïntegreerd...
  Alles om je te helpen om dingen gedaan te krijgen!
  Deze pagina heeft informatie over het tot stand brengen van sommige integratievormen.
  Deze voorbeelden zijn niet altijd voor alle platformen van toepassing en
  sommige voorbeelden vragen meer technische kennis dan anderen
  Zie ook <%= link_to "de documentatie voor ontwikkelaars met Tracks' REST API", url_for(:action => 'rest_api') %>.</p>
<br/><p>Inhoud:</p>
<ul>
  <li><a href="#email-cron-section">Email jezelf automatisch de acties met een aflopende deadline</a></li>
  <li><a href="#message_gateway">Integreer Tracks met een email server om een actie via email naar Tracks te sturen</a></li>
</ul><br/>
<p>Heb je een tip om hier toe te voegen?
  <a href="http://www.getontracks.org/forums/viewforum/10/" title="Tracks | Tips and Tricks">Vertel ons er over in onze
    Tips and Tricks forum</a> en misschien voegen we jouw tip toe op deze pagina in een toekomstige versie van Tracks.
</p>

<a name="email-cron-section"> </a>
<h2>Email jezelf automatisch de acties met een aflopende deadline</h2>

<p>Als je de volgende regel toevoegd aan jouw crontab, dat ontvang je een e-mail op elke dag rond 05:00 met een lijst met acties waarvan de deadline afloopt binnen de komende 7 dagen.</p>

<textarea id="cron" name="cron">0 5 * * * /usr/bin/curl -0 "<%= root_url %>todos.txt?due=6&token=<%= current_user.token %>" | /usr/bin/mail -e -s 'Tracks actions due in the next 7 days' youremail@yourdomain.com</textarea>

<p>Uiteraard kan je ook een andere <%= link_to 'text feed gebruiken die Tracks biedt', feeds_path %> -- bijvoorbeeld een email met een lijst van acties voor een specifiek project naar een groep collega's die werken aan dat project?</p>

<a name="message_gateway"> </a>
<h2>Integreer Tracks met een email server om een actie via email naar Tracks te sturen</h2>
<p>
  Als Tracks draait op dezelfde server als jouw mailserver, dan kan je de geïntegreerde mail handler gebruiken van Tracks. Om dit in te stellen:
</p>
<ul>
  <li>Ga naar <%= link_to t('layouts.navigation.preferences'), preferences_url %>
    en stel in "<%= Preference.human_attribute_name('sms_email') %>" en
    "<%= Preference.human_attribute_name('sms_context') %>" voor acties die
    verzonden zijn via email (die bijv. komen via een SMS message)</li>
  <li>In sendmail/qmail/postfix/whatever, stel een email address
    alias in om berichten door te sturen naar
    <pre>/PATH/TO/TRACKS/bin/rails r -e production 'MessageGateway.receive(STDIN.read)'</pre></li>
  <li>Verstuur een email naar het net geconfigureerde e-mail adres!</li>
</ul>
<p>Je kan ook de Rich Todo API gebruiken om acties te maken zoals "do laundry @ Home"
  of "Call Bill > project X". Het onderwerp van het bericht zal de bijschrijving van de actie vullen,
  de context, en het project, terwijl de body van het bericht de notities van de actie zal vullen.
</p>
<p>
  Het kan nodig zijn om jouw <tt>site.yml</tt> te configureren om de message gateway te laten kijken naar het <tt>to:</tt> veld of het <tt>from:</tt> veld om
  de Tracks-gebruiker op te zoeken met het emailadres uit dat veld. </p>
  <p>Je kan ook alle email naar een specifieke Tracks gebruiker sturen. Stel mail_dispatch in site.yml in op <tt>single_user</tt> en geeft de login van de gebruiker door:
    <pre>TRACKS_MAIL_RECEIVER=<%=current_user.login%> /PATH/TO/TRACKS/bin/rails r -e production 'MessageGateway.receive(STDIN.read)'</pre>
</p>
