<% suffix =  append_descriptor ? append_descriptor : ''
   suppress_context ||= false
   suppress_project ||= false
-%>
<div class="container completed" id="completed_container">
  <div class=add_note_link><%= link_to t('common.show_all'), determine_done_path%></div>
  <h2>
      <% if collapsible %>
      <a href="#" class="container_toggle" id="toggle_completed"><%= image_tag("blank.png", :alt => t('common.collapse_expand')) %></a>
      <% end %>
      <%= t('todos.completed_actions') %> <%= raw suffix %>
  </h2>
  <div id="completed_containeritems" class="items toggle_target">

    <div id="empty-d" style="display:<%= completed.empty? ? 'block' : 'none' %>">
      <div class="message"><p><%= t('todos.no_completed_actions') %></p></div>
    </div>

      <%= render :partial => "todos/todo", :collection => completed, :locals => { :parent_container_type => "completed", :suppress_context => suppress_context, :suppress_project => suppress_project } %>
  </div>
</div>
