<div class="container hidden" id="hidden">
  <h2>
      <% if collapsible %>
      <a href="#" class="container_toggle" id="toggle_deferred"><%= image_tag("blank.png", :alt => t('common.collapse_expand')) %></a>
      <% end %>
      <%= t('todos.hidden_actions') %> <%= raw(append_descriptor ? append_descriptor : '') %>
  </h2>

  <div id="hiddenitems" class="items toggle_target">
    <div id="hidden-empty-nd" style="display:<%= hidden.empty? ? 'block' : 'none'%>;">
      <div class="message"><p><%= t('todos.no_hidden_actions') %></p></div>
    </div>

    <%= render :partial => "todos/todo", :collection => hidden, :locals => { :parent_container_type => 'tag' } %>

  </div><!-- [end:items] -->
</div><!-- [end:tickler] -->
