<%- todo = new_multi_todo_form -%>
<%= form_for(todo, :html=> { :id=>'todo-form-multi-new-action', :name=>'todo', :class => 'form-horizontal' }) do |t| %>
  <fieldset>
    <input id="default_project_name_id" name="default_project_name" type="hidden" value="<%=h @initial_project_name-%>" />
    <input id="default_context_name_id" name="default_context_name" type="hidden" value="<%=h @initial_context_name-%>" />
    <%= hidden_field_tag "initial_tag_list", @initial_tags %>

    <div id="multiple_error_status">
    <% if todo.errors.any? -%>
      <ul>
        <% todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    <% end -%>
    </div>

    <%= todo_form_control_group("todo_notes", t('shared.multiple_next_actions')) do -%>
      <%= text_area_tag( "todo[multiple_todos]", "", :cols => 29, :rows => 6) %>
    <% end -%>

    <%= todo_form_control_group("todo_project_name", t('shared.project_for_all_actions')) do -%>
      <input id="multi_todo_project_name" name="project_name" autocomplete="off" size="30" type="text" value="<%=h @initial_project_name %>" />
    <% end -%>

    <%= todo_form_control_group("todo_context_name", t('shared.context_for_all_actions')) do -%>
      <input id="multi_todo_context_name" name="context_name" autocomplete="off" size="30" type="text" value="<%=h @initial_context_name %>" />
    <% end -%>

    <%= todo_form_control_group("tag_list", t('shared.tags_for_all_actions')) do -%>
      <%= text_field_tag "multi_tag_list", @initial_tags, :name=>:tag_list, :size => 30 %>
    <% end -%>

    <%= todo_form_control_group("todos_sequential", t('shared.make_actions_dependent')) do -%>
      <%= check_box_tag('todos_sequential', 'true', false) %>
    <% end -%>

  </fieldset>
<% end -%>