<%
suppress_context ||= false
suppress_project ||= false
suppress_dependencies ||= false
parameters = "_source_view=#{@source_view}"
parameters += "&_tag_name=#{@tag_name}" if @source_view == 'tag'
@z_index_counter = @z_index_counter - 1  # for IE z-index bug
%>
<div id="<%= dom_id(successor, 'successor') %>" class="item-container">
  <div id="<%= dom_id(successor, 'successor_line') %>">
    <div class="description<%= staleness_class( successor ) %>" style="margin-left: 20px">
      <span class="todo.descr"><%= h sanitize(successor.description) %></span>
      
      <%= link_to_remote(
        image_tag("blank.png", :title => "Remove dependency (does not delete the action)", :align => "absmiddle", :class => "delete_item"),
        {:url => {:controller => 'todos', :action => 'remove_predecessor', :id => successor.id},
         :method => 'delete',
         :with => "'#{parameters}&predecessor=#{predecessor.id}'",
         :before => todo_start_waiting_js(dom_id(successor, 'successor')),
         :complete => todo_stop_waiting_js},
        {:style => "background: transparent;"}) %>
      
      <%= render(:partial => "todos/toggle_successors", :locals => { :item => successor, :suppress_button => true }) unless successor.pending_successors.empty? %>
    </div>
  </div>
</div>

