<%
  suppress_context ||= false
  suppress_project ||= false
  cache [todo, current_user.date.strftime("%Y%m%d"), @source_view, current_user.prefs.verbose_action_descriptors] do
-%>
    <div id="<%= dom_id(todo) %>" class="todo-item">
      <div class="row">
        <div class="span8">
          <div class="todo-item-icons">
            <i class="<%= todo.completed? ? "icon-check-sign" : "icon-check-empty"%>"></i>
            <i class="<%= todo.starred?   ? "icon-star" : "icon-star-empty"%>"></i>
          </div>
          <div class="todo-item-description-container">
            <span class="todo-description"><%= todo.description %></span>
            <%= content_tag(:i, {class: "icon-refresh"}){} if todo.from_recurring_todo? -%>
            <%= deferred_due_date(todo) -%>
            <%= content_tag(:i, {class: "icon-sitemap"}){} if todo.has_pending_successors -%>
            <%= content_tag(:i, {class: "icon-book", "data-note-id" => dom_id(todo, 'notes')}){} unless todo.notes.blank? %>
          </div>
        </div>
        <div class="span4 pull-right">
          <%= date_span(todo) -%>
          <%= tag_list(todo) %>
        </div>
      </div>
      <div class="row">
        <div id="<%=dom_id(todo, 'notes')%>" class="todo-notes hide">
          <%=todo.rendered_notes.html_safe%>
        </div>
      </div>
    </div>
<% end -%>