<%
  @todo = todo
  suppress_context ||= false
  suppress_project ||= false
  suppress_edit_button ||= false
%>
<div id="<%= dom_id(todo) %>" class="item-container">
  <div id="<%= dom_id(todo, 'line') %>">
    <%= remote_delete_icon %>
    <%= remote_edit_icon unless suppress_edit_button %>
    <%= remote_star_icon %>
    <%= remote_toggle_checkbox unless source_view_is :deferred %>
    <div class="description<%= staleness_class( todo ) %>">
      <% unless @todo.completed? %><span class="defer-container"><%= defer_link(1) %> <%= defer_link(7) %></span><% end %>
      <%= date_span -%>
      <span class="todo.descr"><%= h sanitize(todo.description) %></span>
      <%= link_to(
        image_tag("recurring16x16.png"),
        {:controller => "recurring_todos", :action => "index"},
        :class => "recurring_icon", :title => recurrence_pattern_as_text(@todo.recurring_todo)) if @todo.from_recurring_todo? %>
      <%= tag_list %>
      <%= deferred_due_date %>
      <%= project_and_context_links( parent_container_type, :suppress_context => suppress_context, :suppress_project => suppress_project ) %>
      <%= render(:partial => "todos/toggle_notes", :locals => { :item => todo }) if todo.notes? %>
    </div>
  </div>
  <div id="<%= dom_id(todo, 'edit') %>" class="edit-form" style="display:none">
    <% form_remote_tag_edit_todo do -%>
    <% #note: edit form will load here remotely -%>
    <div class="placeholder"> </div>
    <% end -%>
  </div>
</div>
<%=  apply_behaviour ".date_clear:click","var selector_x = this.getAttribute('id').replace('_x', ''); $(selector_x).value='';" %>
