<% cache [todo, current_user.date.strftime("%Y%m%d"), @source_view, current_user.prefs.verbose_action_descriptors] do -%>
  <div id="<%= dom_id(todo) %>" class="todo-item" 
       data-info="<%= render partial: "todos/todo_info", locals: {todo: todo} %>">
    <div class="row">
      <div class="span8">
        <span class="todo-item-icons">
          <i class="<%= todo.completed? ? "icon-check-sign" : "icon-check-empty"%>"></i>
          <i class="<%= todo.starred?   ? "icon-star" : "icon-star-empty"%>"></i>
        </span>
        <span class="todo-item-description-container">
          <span class="todo-description <%= "tracks-todo-overdue" if todo.overdue?%>"><%= todo.description %></span>
          <span class="todo-description-icons">
            <%= content_tag(:i, {class: "icon-refresh"}){} if todo.from_recurring_todo? -%>
            <%= deferred_due_date(todo) -%>
            <%= content_tag(:i, {class: "icon-sitemap"}){} if todo.has_pending_successors -%>
            <%= content_tag(:i, {class: "icon-book", "data-note-id" => dom_id(todo, 'notes')}){} unless todo.notes.blank? %>
          </span>
        </span>
        <span class="todo-item-detail hide"><br/>
          <p class="todo-project-and-context"><small>
            project: <span class="todo-project-name"><%= todo.project.name.blank? ? "none" : link_to(todo.project.name, todo.project) %></span><br/>
            context: <span class="todo-context-name"><%= todo.context.name.blank? ? "none" : link_to(todo.context.name, todo.context) %></span>
          </small></p>
        </span>
      </div>
      <div class="span4 pull-right hidden-phone tracks-todo-badges">
        <%= date_span(todo) -%>
        <%= tag_list(todo) %>
      </div>
    </div>
    <div class="row">
      <div id="<%=dom_id(todo, 'notes')%>" class="todo-notes hide">
        <%= todo_notes(todo) %>
      </div>
    </div>
  </div>
<% end -%>
