<%
  suppress_context ||= false
  suppress_project ||= false
-%>
<div id="<%= dom_id(todo) %>" class="row todo-item">
    <div class="span8">
      <div class="todo-item-icons">
        <i class="<%= todo.completed? ? "icon-check-sign" : "icon-check-empty"%>"></i>
        <i class="<%= todo.starred?   ? "icon-star" : "icon-star-empty"%>"></i>
      </div>
      <div class="todo-item-description-container">
        <span class="todo-description"><%= todo.description %></span>
        <%= content_tag(:i, {class: "icon-refresh"}){} if todo.from_recurring_todo? %>
        <%= deferred_due_date(todo) %>
        <%= content_tag(:i, {class: "icon-play-sign"}){} if todo.has_pending_successors %>
        <%= content_tag(:i, {class: "icon-book"}){} unless todo.notes.blank? %>
      </div>
    </div>
    <div class="span4 pull-right">
      <%= date_span(todo) -%>
      <%= tag_list(todo) %>
    </div>
</div>