<%
  paginate_options = {
    :class => 'link_in_container_header',
    :previous_label => '&laquo; '+ t('common.previous'),
    :next_label     => t('common.next')+' &raquo;',
    :inner_window   => 2
  }
%>
<div id="display_box_projects">
  <div class="container">
    <div class="paginate_header"><%= will_paginate @done, paginate_options %></div>
    <h2><%= t('todos.all_completed') %></h2>
    <div id="all-done-empty-nd" style="<%= @done.empty? ? 'display:block' : 'display:none'%>">
      <div class="message"><p><%= t('todos.no_completed_actions') %></p></div>
    </div>

    <% if !@done.empty? -%>
      <%= render :partial => "todos/todo", :collection => @done, :locals => { :parent_container_type => "completed", :suppress_context => false, :suppress_project => false } %>
    <% end -%>
  </div>

  <div class="paginate_footer"><%= will_paginate @done, paginate_options %></div>

</div>
