<div id="display_box_projects">
<p><%= t('todos.completed_today', :count => @due_tickles.nil? ? 0 : @due_tickles.length) %></p>
<div class="container">
  <h2><%= t('todos.completed_last_day') %></h2>
  <table class="next_actions" border="0">
    <%= render :partial => "done", :collection => @done_today %>
  </table>
</div>

<div class="container">
  <h2><%= t('todos.completed_last_x_days', :count => 7) %></h2>
  <table class="next_actions" border="0">
    <%= render :partial => "done", :collection => @done_this_week %>
  </table>
</div>

<div class="container">
  <h2><%= t('todos.completed_last_x_days', :count => 28) %></h2>
  <table class="next_actions" border="0">
    <%= render :partial => "done", :collection => @done_this_month %>
  </table>
</div>

<p><%= t('todos.older_completed_items') %>: <%= link_to( t('todos.older_than_days', :count => 31), done_archive_path ) %></p>
</div><!-- End of display_box -->
