<div id="display_box">
  <div id="no_todos_in_view" class="container context" style="display:<%= @not_done_todos.empty? ? "block" : "none" %>">
    <h2><%= t('todos.no_actions_found_title')%></h2>
    <div class="message"><p><%= t('todos.no_actions_found') %></p></div>
  </div>
  <%= render(:partial => @contexts_to_show, :locals => { :collapsible => true }) -%>
  <% unless @done.nil? -%>
    <%= render(:partial => "todos/completed", :object => @done,
          :locals => { :collapsible => true, :append_descriptor => nil }) -%>
  <% end -%>
</div>
<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar" %>
</div>