<div id="display_box">
  <%= empty_message_holder("not_done", @not_done_todos.empty?) %>

  <%= show_grouped_todos %>

  <% if @group_view_by == 'project' -%>
    <%= show_todos_without_project(@todos_without_project) -%>
  <% end -%>

  <%= show_done_todos(@done, {:parent_container_type => @group_view_by, :collapsible => true}) unless @done.nil? %>
</div>

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar" %>
</div>