<div id="display_box">

  <div id="tickler-empty-nd" style="display:<%= (@count == 0) ? 'block' : 'none'%>;">
    <div class="message"><p><%= t('todos.no_deferred_actions') %></p></div>
  </div>

  <%= render :partial => "contexts/context", :collection => @contexts,
            :locals => { :collapsible => true } %>

</div><!-- End of display_box -->

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar.html.erb" %>
</div><!-- End of input box -->
