<div id="display_box">

  <%= empty_message_holder("deferred_pending", @not_done_todos.empty?) %>

  <%= show_grouped_todos %>

  <% if @group_view_by == 'project' -%>
    <%= show_todos_without_project(@todos_without_project) -%>
  <% end -%>

</div>
<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar" %>
</div>
