<h2><%= t('common.description') %></h2>
<%= @todo.description %><br/>

<h2><Actions><%= t('common.actions') %></h2>

<form method="get" action="<%= edit_todo_path(@todo, :format => :m)%>">
	<button class="btn"><%=t('todos.edit_action')%></button>
	<input type="hidden" name="_method" value="put" />
</form>

<form method="post" action="<%=toggle_star_todo_path(@todo, :format=>:m)%>">
	<button class="btn"><%=t('todos.star_action')%></button>
	<input type="hidden" name="_method" value="put" />
	<%= token_tag %>
</form>

<form method="post" action="<%=toggle_check_todo_path(@todo, :format=>:m)%>">
	<button class="btn"><%= t('todos.mark_complete')%></button>
	<input type="hidden" name="_method" value="put" />
	<%= token_tag %>
</form>

<form method="post" action="<%=defer_todo_path(@todo, :format=>:m, :days => 1)%>">
	<button class="btn"><%=t('todos.defer_x_days', :count => 1)%></button>
	<input type="hidden" name="_method" value="put" />
	<%= token_tag %>
</form>

<form method="post" action="<%=defer_todo_path(@todo, :format=>:m, :days => 2)%>">
	<button class="btn"><%=t('todos.defer_x_days', :count => 2)%></button>
	<input type="hidden" name="_method" value="put" />
	<%= token_tag %>
</form>

<form method="post" action="<%=defer_todo_path(@todo, :format=>:m, :days => 3)%>">
	<button class="btn"><%=t('todos.defer_x_days', :count => 3)%></button>
	<input type="hidden" name="_method" value="put" />
	<%= token_tag %>
</form>

<form method="post" action="<%=defer_todo_path(@todo, :format=>:m, :days => 7)%>">
	<button class="btn"><%=t('todos.defer_x_days', :count => 7)%></button>
	<input type="hidden" name="_method" value="put" />
	<%= token_tag %>
</form>
