<div id="display_box">
<% if @not_done_todos.empty? -%>
<div class="container context">
<h2><%= t('todos.no_actions_found_title') %></h2>
<div class="message"><%= t('todos.no_actions_with', :tag_name => @tag_title) %></div>
</div>
<% end -%>
<%= render :partial => @contexts_to_show -%>
<h2><%= t('todos.deferred_actions_with', :tag_name=> @tag_title) %></h2>
<% unless (@deferred.nil? or @deferred.size == 0)  -%>
<ul class="c">
<%= render :partial => @deferred, :locals => { :parent_container_type => "tag" } -%>
</ul>
<% else -%>
<%= t('todos.no_deferred_actions_with', :tag_name => @tag_title) %>
<% end -%>
<h2><%= t('todos.completed_actions_with', :tag_name => @tag_title) %></h2>
<% unless (@done.nil? or @done.size == 0) -%>
<ul class="c">
<%= render :partial => @done, :locals => { :parent_container_type => "tag" } %>
</ul>
<% else -%>
<%= t('todos.no_completed_actions_with', :tag_name => @tag_title) %>
<% end -%>
</div>
