<%
  options = {
    :collapsible => false,
    :parent_container_type => 'tag',
    :title_param => @tag_title
  }
  deferred_pending_options=options.clone.merge({:deferred => @deferred_todos, :pending => @pending_todos})
  hidden_options = options.clone
  done_options = options.clone
-%>
<div id="display_box">
  <%= empty_message_holder("not_done_with_tag", @not_done_todos.empty?, @tag_name) %>

  <%= show_grouped_todos %>

  <% if @group_view_by == 'project' -%>
    <%= show_todos_without_project(@todos_without_project) -%>
  <% end -%>

  <%= show_deferred_pending_todos(@deferred_todos, @pending_todos, deferred_pending_options) %>

  <%= show_hidden_todos(@hidden_todos, hidden_options) unless @hidden_todos.nil? %>

  <%= show_done_todos(@done, done_options) unless @done.nil? %>

</div>

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar" %>
</div>
