<div id="display_box">
  <div class="container context" <%= "style=\"display:none\"" unless @not_done_todos.empty? %> >
       <h2>No actions found</h2>
    <div class="message"><p>Currently there are no incomplete actions with the tag '<%= @tag_name %>'</p></div>
  </div>

  <%= render :partial => "contexts/context", :collection => @contexts_to_show,
    :locals => { :collapsible => true } %>

  <% unless @deferred.nil? -%>
    <%= render :partial => "todos/deferred", :locals => { 
                                               :deferred => @deferred, 
                                               :pending => @pending,
                                               :collapsible => true, 
                                               :append_descriptor => "tagged with &lsquo;#{@tag_name}&rsquo;", 
                                               :parent_container_type => 'tag' 
                                              } %>
  <% end -%>

  <% unless @hidden_todos.nil? -%>
    <%= render :partial => "todos/hidden", :locals => { :hidden => @hidden_todos, :collapsible => true, :append_descriptor => "tagged with &lsquo;#{@tag_name}&rsquo;" } %>
  <% end -%>

  <% unless @done.nil? -%>
    <%= render :partial => "todos/completed",
      :locals => { :done => @done, :collapsible => true, :append_descriptor => "tagged with &lsquo;#{@tag_name}&rsquo;" } %>
  <% end -%>
</div><!-- End of display_box -->

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar.html.erb" %>
</div><!-- End of input box -->
