<div id="display_box">
  <%= empty_message_holder(@not_done_todos.empty?) %>

  <%= show_grouped_todos %>

  <% unless @deferred_todos.nil? -%>
    <%= render :partial => "todos/deferred", :locals => {
                                               :deferred => @deferred_todos,
                                               :pending => @pending_todos,
                                               :collapsible => true,
                                               :append_descriptor => t('todos.tagged_with', :tag_name => @tag_title),
                                               :parent_container_type => 'tag'
                                              } %>
  <% end -%>

  <% unless @hidden_todos.nil? -%>
    <%= render :partial => "todos/hidden", :object => @hidden_todos, :locals => { :collapsible => true, :append_descriptor => t('todos.tagged_with', :tag_name => @tag_title) } %>
  <% end -%>

  <% unless @done.nil? -%>
    <%= render :partial => "todos/completed", :object => @done,
      :locals => { :collapsible => true, :append_descriptor => t('todos.tagged_with', :tag_name => @tag_title) } %>
  <% end -%>
</div><!-- End of display_box -->

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render :file => "sidebar/sidebar" %>
</div><!-- End of input box -->
