<p><%= t('stats.actions_avg_completion_time', :count => (actions.ttc.avg*10).round/10.0) %>
<%= t('stats.actions_min_max_completion_days', :max => (actions.ttc.max*10).round/10.0, :min => (actions.ttc.min*10).round/10.0) %>
<%= t('stats.actions_min_completion_time', :time => actions.ttc.min_sec) %></p>

<p><%= t('stats.actions_actions_avg_created_30days', :count => (actions.created_last30days*10.0/30.0).round/10.0 )%>
<%= t('stats.actions_avg_completed_30days', :count => (actions.done_last30days*10.0/30.0).round/10.0 )%>
<%= t('stats.actions_avg_created', :count => (actions.created_last12months*10.0/12.0).round/10.0 )%>
<%= t('stats.actions_avg_completed', :count => (actions.done_last12months*10.0/12.0).round/10.0 )%></p>

<% actions.completion_charts.each do |chart| %><%=
    render :partial => 'chart', :locals => {:chart => chart}
-%><% end %>

<br style="clear:both">

<% actions.timing_charts.each do |chart| %><%=
    render :partial => 'chart', :locals => {:chart => chart}
-%><% end %>

