<div class="stats_module">
<h3><%= t('stats.tag_cloud_title') %></h3>
<p><%= t('stats.tag_cloud_description') %></p>

  <p>
    <% if @tags_for_cloud.size < 1
    t('stats.no_tags_available')
    else
    @tags_for_cloud.each do |t| %>
    <%= link_to t.name, tag_path(t.name), {
      :style => "font-size: " + (9 + 2*(t.count.to_i-@tags_min)/@tags_divisor).to_s + "pt",
      :title => t.count.to_s+" #{t('common.actions_midsentence', :count => t.count)}"}
    -%> <%
    end
    end-%>
</p>
</div>

<div class="stats_module">
<h3><%= t('stats.tag_cloud_90days_title') %></h3>
<p><%= t('stats.tag_cloud_90days_description') %></p>
  <p>
    <% if @tags_for_cloud_90days.size < 1
    t('stats.no_tags_available')
    else
    @tags_for_cloud_90days.each do |t| %>
    <%= link_to t.name, tag_path(t.name), {
      :style => "font-size: " + (9 + 2*(t.count.to_i-@tags_min_90days)/@tags_divisor_90days).to_s + "pt",
      :title => t.count.to_s+" #{t('common.actions_midsentence', :count => t.count)}"}
    -%> <%
    end
    end-%>
</p>
</div>