<div class="stats_content">
  <h2>Totals</h2>
  
  <%= render :partial => 'totals' -%>
  
  <% unless @actions.empty? -%>
  
    <h2>Actions</h2>
  
    <%= render :partial => 'actions' -%>
  
    <h2>Contexts</h2>
  
    <%= render :partial => 'contexts' -%>
  
    <h2>Projects</h2>
  
    <%= render :partial => 'projects' -%>
  
    <h2>Tags</h2>
  
    <%= render :partial => 'tags' -%>
  
  <% else -%>
  
    <p>More statistics will appear here once you have added some actions.</p>
  
  <% end -%>
  
</div>