<%= render :partial => 'chart', :locals => {:chart => @chart} -%>
<br/>
<p>
<%= t('stats.click_to_update_actions') %> <%= raw t('stats.click_to_return', :link => link_to(t('stats.click_to_return_link'), stats_path)) %>
<%
    unless @further
-%>
<%= raw t('stats.click_to_show_actions_from_week',
      :link => link_to("here", show_actions_from_chart_path(:id=>"#{params[:id]}_end", :index => params[:index])),
      :week => params[:index])
-%>
<%
    end
-%>
</p>
<br/>
<div class="container tickler" id="tickler_container">
  <h2><%= @page_title -%></h2>
  <div id="tickler" class="items toggle_target">
    <div id="tickler-empty-nd" style="display:<%= @selected_actions.empty? ? 'block' : 'none'%>;">
      <div class="message"><p><%= t('stats.no_actions_selected') %></p></div>
    </div>
        <%= render :partial => "todos/todo", :collection => @selected_actions, :locals => { :parent_container_type => 'stats' } %>
  </div>
</div>
