<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "print", :media => "print" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var SOURCE_VIEW = '<%=@source_view%>';
      var AUTH_TOKEN = '<%= raw(protect_against_forgery? ? form_authenticity_token.inspect : "") %>'
      var TAG_NAME = '<%= @tag_name ? @tag_name : "" %>'
      var GROUP_VIEW_BY = '<%= @group_view_by ? @group_view_by : "" %>'
      var defaultContexts = <%= default_contexts_for_autocomplete.html_safe rescue '{}' %>;
      var defaultTags = <%= default_tags_for_autocomplete.html_safe rescue '{}' %>;
      var dateFormat = '<%= date_format_for_date_picker %>';
      var weekStart = '<%= current_user.prefs.week_starts %>';
      function relative_to_root(path) { return '<%= root_url %>'+path; };
      <% if current_user.prefs.refresh != 0 -%>
        setup_auto_refresh(<%= current_user.prefs["refresh"].to_i*60000 %>);
      <% end -%>
      <% unless controller.controller_name == 'feed' or session['noexpiry'] == "on" -%>
        setup_periodic_check("<%=url_for(:controller => "login", :action => "check_expiry")%>", 5*60);
      <% end -%>
      setup_periodic_check("<%=check_deferred_todos_path(:format => 'js')%>", 10*60, 'POST');
      <%= generate_i18n_strings %>
    </script>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= auto_discovery_link_tag(:rss, {:controller => "todos", :action => "index", :format => 'rss', :token => "#{current_user.token}"}, {:title => t('layouts.next_actions_rss_feed')}) %>
    <link rel="search" type="application/opensearchdescription+xml" title="Tracks" href="<%= search_plugin_path(:format => :xml) %>" />
    <title><%= @page_title %></title>
  </head>

  <body class="<%= controller.controller_name %>">

    <div id="topbar">
      <div id="date">
        <h1>
          <% if @count -%>
            <span id="badge_count" class="badge"><%= @count %></span>
          <% end -%>
          <%= l(Date.today, :format => current_user.prefs.title_date_format) %>
        </h1>
      </div>
      <div id="minilinks">
        <%= link_to("#{t('common.logout')} (#{current_user.display_name}) &raquo;".html_safe, logout_path) %>
      </div>
      <div id="navcontainer">
        <ul class="sf-menu">
          <li><%= navigation_link(t('layouts.navigation.home'), root_path, {:accesskey => "t", :title => t('layouts.navigation.home_title')} ) %></li>
          <li><%= navigation_link(t('layouts.navigation.starred'), tag_path("starred"), :title => t('layouts.navigation.starred_title')) %></li>
          <li><%= navigation_link(t('common.projects'), projects_path, {:accesskey=>"p", :title=>t('layouts.navigation.projects_title')} ) %></li>
          <li><%= navigation_link(t('layouts.navigation.tickler'), tickler_path, {:accesskey =>"k", :title => t('layouts.navigation.tickler_title')} ) %></li>
          <li><a href="#"><%= t('layouts.navigation.organize') %></a>
            <ul>
              <li><%= navigation_link( t('common.contexts'), contexts_path, {:accesskey=>"c", :title=>t('layouts.navigation.contexts_title')} ) %></li>
              <li><%= navigation_link( t('common.notes'), notes_path, {:accesskey => "o", :title => t('layouts.navigation.notes_title')} ) %></li>
              <li><%= navigation_link( t('common.review'), review_path, {:accesskey => "r", :title => t('layouts.navigation.review_title')} ) %></li>
              <li><%= navigation_link( t('layouts.navigation.recurring_todos'), {:controller => "recurring_todos", :action => "index"}, :title => t('layouts.navigation.recurring_todos_title')) %></li>
            </ul>
          </li>
          <li id="menu_view"><a href="#" id="menu_view_link"><%= t('layouts.navigation.view') %></a>
            <ul>
              <li><%= navigation_link( t('layouts.navigation.calendar'), calendar_path, :title => t('layouts.navigation.calendar_title')) %></li>
              <li><%= navigation_link( t('layouts.navigation.completed_tasks'), done_overview_path, {:accesskey=>"d", :title=>t('layouts.navigation.completed_tasks_title')} ) %></li>
              <li><%= navigation_link( t('layouts.navigation.feeds'), feeds_path, :title => t('layouts.navigation.feeds_title')) %></li>
              <li><%= navigation_link( t('layouts.navigation.stats'), stats_path, :title => t('layouts.navigation.stats_title')) %></li>
              <li><hr/></li>
              <li id="menu_view_toggle_contexts"><%= link_to(t('layouts.toggle_contexts'), "#", {:title => t('layouts.toggle_contexts_title'), :id => "toggle-contexts-nav"}) %></li>
              <li><%= link_to(t('layouts.toggle_notes'), "#", {:accesskey => "S", :title => t('layouts.toggle_notes_title'), :id => "toggle-notes-nav"}) %></li>
              <%= group_view_by_menu_entry %>
            </ul>
          </li>
          <li><a href="#"><%= t('layouts.navigation.admin') %></a>
            <ul>
              <li><%= navigation_link( t('layouts.navigation.preferences'), preferences_path, {:accesskey => "u", :title => t('layouts.navigation.preferences_title')} ) %></li>
              <li><%= navigation_link( t('layouts.navigation.export'), data_path, {:accesskey => "e", :title => t('layouts.navigation.export_title')} ) %></li>
              <li><%= navigation_link( t('layouts.navigation.import'), import_data_path, {:accesskey => "i", :title => t('layouts.navigation.import_title')} ) %></li>
              <% if current_user.is_admin? -%>
                <li><%= navigation_link(t('layouts.navigation.manage_users'), users_path, {:accesskey => "a", :title => t('layouts.navigation.manage_users_title')} ) %></li>
              <% end -%>
            </ul>
          </li>
          <li><a href="#"><%= t('layouts.navigation.help') %></a>
            <ul>
              <li><%= link_to t('layouts.navigation.integrations_'), integrations_path %></li>
              <li><%= link_to t('layouts.navigation.api_docs'), rest_api_docs_path %></li>
            </ul>
          </li>
          <li><%= navigation_link(image_tag("system-search.png", :size => "16X16", :border => 0), search_path, :title => t('layouts.navigation.search')) %></li>
        </ul>
      </div>
      <%= render_flash %>
    </div>

    <div id="content" class="<%= controller.controller_name %>">
      <%= yield %>
    </div>

    <%= render :partial => "shared/footer" %>
  </body>
</html>
