<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <title><%= @page_title -%></title>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body class="bootstrap">
    <%= yield %>
  </body>
</html>
