<%
    new_todo_params = {:format => :m}
    new_todo_params[:from_project] = @mobile_from_project if @mobile_from_project
    new_todo_params[:from_context] = @mobile_from_context if @mobile_from_context
-%><?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag "mobile", :media => 'handheld,all' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <title><%= @page_title %></title>
</head><body>
<% if current_user && !current_user.prefs.nil? -%>
<div id="topbar"><h1><% if @down_count -%><span class="count" id="badge_count"><%= @down_count %></span><% end -%> <%=
        l(Time.zone.today, :format => current_user.prefs.title_date_format) -%></h1>
<ul class="nav">
  <li class="link"><%=     (link_to(t('layouts.mobile_navigation.new_action'), new_todo_path(new_todo_params))) -%></li>
  <li class="link"><%=     (link_to(t('layouts.mobile_navigation.home'), todos_path(:format => 'm'))) -%></li>
  <li class="link"><%=     (link_to(t('layouts.mobile_navigation.contexts'), contexts_path(:format => 'm'))) -%></li>
  <li class="link"><%=     (link_to(t('layouts.mobile_navigation.projects'), projects_path(:format => 'm'))) -%></li>
  <li class="link"><%=     (link_to(t('layouts.mobile_navigation.starred'), tag_path("starred", :format => 'm'))) -%></li>
</ul></div>
<% end -%>
<div id="content"><%= render_flash -%><%=  yield -%></div>
<hr/><% if current_user && !current_user.prefs.nil? -%>
<ul class="nav">
  <li class="link"><%= (link_to(t('layouts.mobile_navigation.home'), todos_path(:format => 'm'))) -%></li>
  <li class="link"><%= (link_to(t('layouts.mobile_navigation.logout'), logout_path(:format => 'm'))) -%></li>
  <li class="link"><%= (link_to(t('layouts.mobile_navigation.tickler'), tickler_path(:format => :m))) -%></li>
  <li class="link"><%= (link_to(t('layouts.mobile_navigation.calendar'), calendar_path(:format => :m))) -%></li>
  <li class="link"><%= (link_to(t('layouts.mobile_navigation.feeds'), feeds_path(:format=>:m))) -%></li>
</ul>
<% end -%>
<%= render :partial => "shared/footer" -%>
</body></html>
